<mat-toolbar class="footer" fxLayout="row wrap" fxLayoutAlign="space-evenly">
  <mat-toolbar-row class="service" fxFlex.gt-md="1 0 25%" fxFlex.gt-sm="1 0 50%" fxFlex.lt-md="1 0 100%">
    <ul class="service-list">
      <li class="heading">Service</li>
      <li>Cable Tv</li>
      <li>Fiber Tv</li>
      <li>Internate</li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row class="support" fxFlex.gt-md="1 0 25%" fxFlex.gt-sm="1 0 50%" fxFlex.lt-md="1 0 100%">
    <ul class="support-list">
      <li class="heading">Support</li>
      <li>Help Center</li>
      <li>+91-9595-4041-90</li>
      <li>support@codetreatise.com</li>
      <li>FAQ's</li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row class="company" fxFlex.gt-md="1 0 25%" fxFlex.gt-sm="1 0 50%" fxFlex.lt-md="1 0 100%">
    <ul class="company-list">
      <li class="heading">Cable</li>
      <li>About</li>
      <li>Careers</li>
      <li>Business</li>
      <li>Contact</li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row class="social" fxFlex.gt-md="1 0 25%" fxFlex.gt-sm="1 0 50%" fxFlex.lt-md="1 0 100%">
    <ul class="social-list">
      <li class="heading">Social</li>
      <li><a href="#"><img src="assets/images/social/ct-facebook.svg" alt="facebook"> - Facebook</a></li>
      <li><a href="#"><img src="assets/images/social/ct-twitter.svg" alt="twitter"> - Twitter</a></li>
      <li><a href="#"><img src="assets/images/social/ct-linkedin.svg" alt="linkedin"> - Linkedin</a></li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row class="leagal" fxFlex="1 0 100%" fxLayout="row wrap" fxFlex.gt-sm="1 0 25%">
    <ul class="leagal-list" fxLayout fxFlex fxLayoutAlign="space-between">
      <li class="designer">Powered By
        <a href="http://www.codetreatise.com">
          <img src="assets/images/ct.svg" alt="Code Treatise">
        </a>
      </li>
      <li>
        <ul fxLayout fxLayoutGap="10px">
          <li>Copyright @ 2019 Origin. All rights reserved.</li>
          <li><a href="#">Terms of use</a></li>
        </ul>
      </li>

    </ul>
  </mat-toolbar-row>
</mat-toolbar>
