<mat-card class="main">
  <h1 class="mat-display-3">Cable Tv</h1>
  <p class="mat-title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum quos, eveniet aperiam vitae magni tempora
    deserunt blanditiis aliquam! Neque?
  </p>
  <img src="assets/images/main.svg" alt="">
</mat-card>
<mat-card class="service">
  <h1 class="mat-display-3">service's at glance</h1>

  <div class="service-container">

    <mat-card>
      <mat-card-title class="mat-headline">Cable TV</mat-card-title>
      <img mat-card-image>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur numquam commodi culpa. Suscipit, dolorem
          quis. Sequi, nemo omnis placeat, beatae labore ea voluptate architecto est optio non cupiditate ullam
          aspernatur laudantium facere laborum,</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="mat-headline">Fibar TV</mat-card-title>
      <img mat-card-image>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eius id porro praesentium fugit illum,
          natus ipsum tempora molestiae veniam consectetur. Alias quibusdam molestiae animi, </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="mat-headline">Broad Band</mat-card-title>
      <img mat-card-image>
      <mat-card-content>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore voluptates aut laudantium a impedit? Earum
          quibusdam quasi sed repellat praesentium reprehenderit beatae deleniti iure. Facilis voluptate adipisci fugiat
          rem eaque. </p>
      </mat-card-content>
    </mat-card>
  </div>

</mat-card>
<mat-card class="pricing">
  <h1 class="mat-display-3">affordable pricing</h1>
  <div class="pricing-container">
    <mat-card>
      <mat-card-title class="mat-headline">basic</mat-card-title>
      <mat-card-content>
        <h1>250 &#x20B9;</h1>
        <p>150 free channels</p>
        <p>3 valu packs</p>
        <p>All SD</p>
        <p>30 days</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="value">
      <mat-card-title class="mat-headline">value</mat-card-title>
      <mat-card-content>
        <h1>350 &#x20B9;</h1>
        <p>150 free channels</p>
        <p>5 value packs</p>
        <p>All HD</p>
        <p>30 days</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-headline">premium</mat-card-title>
      <mat-card-content>
        <h1>450 &#x20B9;</h1>
        <p>200 free channels</p>
        <p>4 value packs</p>
        <p>All HD</p>
        <p>40 days</p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
<mat-card class="customer">
  <h1 class="mat-display-3">satisfied customers</h1>
  <div class="customer-container">
    <mat-card>
      <mat-card-title class="mat-headline">ganesh khade</mat-card-title>
      <img mat-card-image src="assets/images/customer/user.png">
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, tempora officia corrupti
          velit fugiat cum?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-headline">sagar honmuke</mat-card-title>
      <img mat-card-image src="assets/images/customer/user.png">
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente voluptates tempore
          cumque voluptatum !</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-headline">avinash thool</mat-card-title>
      <img mat-card-image src="assets/images/customer/user.png">
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus quibusdam modi
          possimus nobis.</p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
