<mat-nav-list>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>home</mat-icon>
    <span>About</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>tv</mat-icon>
    <span>Fiber Tv</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>tv</mat-icon>
    <span>Cable Tv</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>network_check</mat-icon>
    <span>Fiber Broad band</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>library_books</mat-icon>
    <span>Subscription form</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>done</mat-icon>
    <span>TRAI compilances</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>help</mat-icon>
    <span>FAQ's</span>
  </a>
  <a mat-list-item (click)="onCloseSidenav()">
    <mat-icon>mobile_friendly</mat-icon>
    <span>Contact</span>
  </a>
</mat-nav-list>
